# Object files
*.o
*.ko
*.obj
*.elf
*.elf.lss
*.elf.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Codeblocks
*.layout
*.depend

# VS
software\host\SwagBot\Debug\*
!software\host\SwagBot\Debug\SwagBot.exe
software\host\Debug\*
*.sdf
*.Cache
*.pdb
*.log
*.tlog